@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

		*{
			margin: 0 ;
			padding: 0;

		}

		body{
			background-color: #76c3d6;
			font-family: 'Montserrat', sans-serif;
		}

		.container{
			width: 1000px;
			margin: 0 auto;
		}

		#loginform{
			width:100%;
		}

		.loginmain{
			background-color: white;
			z-index: 1;
			width:350px;
			padding: 30px;
			box-shadow: 4px 4px 6px black;
			transform: translate(55%,50%);
		}

		.loginmain:hover{
			box-shadow: 8px 8px 16px  black;
		}

		
		.loginmain h1{
			text-shadow: 2px 2px  4px grey;
			font-weight: 200;
			text-align: center;
			margin-bottom: 20px;

		}

		.loginmain h3{
			font-weight: 350;
			text-shadow: 1px 1px black;
			text-align: center;
			padding: 8px 0px;
		}

		.loginmain input[type="text"]{
			margin-left: 85px;
			width:50%;
			height:20px;
			border:1px solid black;
			padding: 3px;
			border-radius:8px;
		}

		.loginmain input[type="password"]{
			margin-left: 85px;
			width:50%;
			height:20px;
			border:1px solid black;
			padding: 3px;
			border-radius:8px;
		}



		.loginmain input:hover{
			box-shadow: 2px 2px 4px black;
		}

		.loginmain input[type=submit]{
			margin-top: 20px;
			margin-left: 43%;
			padding: 5px 15px;
			border-radius: 6px;
			border:2px solid black;

		}

		

		.loginmain input[type=submit]:hover{
				background-color: #99c7de;
				box-shadow: 2px 2px 4px black;
				
		}
